.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.full-width {
  width: 100%;
}

.font-medium {
  font-weight: 500;
}

.font-semi-bold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.text-success {
  color: $text-success-2;
}

.center {
  @extend .flex;
  @extend .justify-content-center;
  @extend .align-items-center;
}
