@mixin badgeColor($color, $background) {
  color: $color;
  background: $background;
}
.badge {
  padding: 10px 16px;
  border-radius: $border-radius-sm;
  @include center;
  font-size: 14px;

  &.badge-success {
    @include badgeColor($bg-success, $text-success);
  }

  &.badge-danger {
    @include badgeColor($bg-danger, $text-danger);
  }

  &.badge-warning {
    @include badgeColor($bg-warning, $text-warning);
  }
}
