header {
  padding: 12px 32px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  background-color: $white-color;
  border-bottom: 1px solid $gray-2-color;

  @include screen-medium {
    display: none;
  }

  .logo {
    width: 150px;
  }

  .header-right-side {
    display: flex;
    align-items: center;
    gap: 56px;
  }

  .header-icons-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    > * {
      font-size: 26px;
    }
  }
}

.mobile-header {
  @include between(8px);
  margin-bottom: 30px;
  background-color: $white-color;
  display: none;
  svg {
    font-size: 20px;
    cursor: pointer;
  }
  .mobile-header-title {
    font-size: 16px;
    font-weight: 600;
  }
  .mobile-header-notification {
    position: relative;
    .count-badge {
      position: absolute;
      top: -30%;
      right: -30%;
    }
  }
  @include screen-medium {
    display: flex;
  }
}
