$profile-avatar: 140px;

.profile-page-wrapper {
  padding: 20px 0;
}

.cover-picture-wrapper {
  .cover-picture {
    width: 100%;
    max-height: 240px;
    min-height: 120px;
    display: block;
    object-fit: cover;
  }
}

// .profile-details {
//     .cover-picture {

//       }
// }

@mixin sizeHandler($size) {
  width: $size !important;
  height: $size !important;
}

@mixin marginTopHanlder($profile-avatar) {
  margin-top: calc($profile-avatar / -2) - calc($card-body-padding / 2);
}

.profile-avatar-wrapper {
  // margin-top: -$profile-avatar / 2 - $card-body-padding / 2;
  @include marginTopHanlder($profile-avatar);
  @include screen-medium {
    $profile-avatar: 56px;
    @include marginTopHanlder($profile-avatar);
  }
  // transform: translateY(calc(-50% - $card-body-padding / 2));
  .profile-avatar {
    @include sizeHandler($profile-avatar);
    > * {
      @include sizeHandler($profile-avatar);
    }

    @include screen-medium {
      $profile-avatar: 56px;
      @include sizeHandler($profile-avatar);
      > * {
        @include sizeHandler($profile-avatar);
      }
    }
  }
}

.profile-info-wrapper {
  display: flex;
  gap: 20px;
  @include screen-medium {
    flex-direction: column;
    gap: 20px;
  }
  // justify-content: space-between;
}

.profile-data {
  display: flex;
  justify-content: space-between;
  flex: 1;
  @include screen-medium {
    // Half width of Avatar - Card Padding
    margin-top: -calc(calc($profile-avatar / 2) - $card-body-padding);
  }
  // gap: 20px;
}

.profile-title {
  font-size: 24px;
  font-weight: 600;
  @include screen-medium {
    font-size: 18px;
  }
}

.profile-card-description {
  margin-top: 20px;
}

.profile-text {
  color: $text-1-color;
}

.profile-name {
  font-weight: 600;
  @include screen-medium {
    font-size: 16px;
  }
}

.profile-description {
  margin-top: 20px;
  @include screen-medium {
    font-size: 14px;
  }
}

.edit-profile-button {
  display: flex;
  padding: 6px 10px;
  align-items: center;
  font-size: 16px;
  gap: 8px;
  color: #3ea2d0;
  @include screen-medium {
    span {
      display: none;
    }
  }
}

.profile-speciality {
  margin: 14px 0 10px;
  @include screen-medium {
    font-size: 14px;
  }
}

.profile-location {
  @include center;
  width: fit-content;
  gap: 10px;
  padding: 8px 14px;
  border-radius: $border-radius-rounded;
  background-color: $gray-3-color;
}

/** Edit Profile */
.profile-edit {
  .fields-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .profile-edit-actions {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    @include screen-small {
      justify-content: center;
      margin-top: 12px;
      button {
        width: 100%;
        &.btn-simple {
          background-color: #fff;
          border: 1px solid $gray-1-color;
        }
      }
    }
  }
  .edit-profile-picture {
    display: flex;
    align-items: center;
    gap: 16px;
    .edit-profile-buttons {
      display: flex;
      align-items: baseline;
      gap: 4px;
      .delete-photo-button {
        border: none;
      }
    }
  }
  textarea {
    padding-top: 8px;
  }
  .form-control {
    border-radius: $border-radius-sm;
  }
  input {
    height: 40px;
  }
}
