.table-medical-patient-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  .table-medical-patient-name {
    font-size: 14px;
    font-weight: 500;
  }

  .table-medical-patient-code {
    font-size: 14px;
    color: $gray-1-color;
  }
}

.medical-history-details-key {
  font-size: 16px;
  color: $text-1-color;
}

.medical-details-hr {
  width: 100%;
  height: 1px;
  display: block;
  border-style: dashed;
  border-color: $gray-1-color;
}

.medical-history-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: $text-2-color;
  margin-bottom: 8px;
}

.medical-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 26px;
  .medical-details-init-payment-metadata {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 10px;
    .medical-history-initial-payment {
      @include between;
    }
  }

  .medical-details-payment-datails-metadata {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .medical-history-payment-detail-value {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
