$primary-color: #103f74;
$light-blue-color: #56ccf2;
$white-color: #fff;
$black-color: #000;
$gray-1-color: #c5d0e6;
$gray-2-color: #dfe8f6;
$gray-3-color: #eff3fa;
$text-1-color: #848fac;

// color2: 103F74
