$primary-color: #103f74;
$light-blue-color: #56ccf2;
$white-color: #fff;
$black-color: #000;
$gray-1-color: #c5d0e6;
$gray-2-color: #dfe8f6;
$gray-3-color: #eff3fa;
$gray-4-color: #a9b4cd;
$gray-5-color: #f0f9fd;
$gray-6-color: #fafafa;
$gray-7-color: #dcdfe3;
$text-1-color: #848fac;
$text-2-color: #192252;

$bg-success: #479b36;
$bg-danger: #981c19;
$bg-warning: #8b601d;

$text-success: #cffcd4;
$text-danger: #ffe4db;
$text-warning: #fff7d0;

$text-success-2: #52bd94;

// color2: 103F74
