.auth-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;

  @include screen-medium {
    grid-template-columns: 1fr;
  }

  .auth-page-wrapper {
    padding: 20px;
    @include center;

    @include screen-medium {
      align-items: flex-start;
    }

    > * {
      width: 100%;
      max-width: 400px;
    }
  }

  .auth-bg {
    background-color: $light-blue-color;

    @include screen-medium {
      display: none;
    }
  }
}
